# Auto detect text files and perform LF normalization
*		text=auto

# Custom for Visual Studio
*.cs	diff=csharp

# Standard to msysgit
*.doc	diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain

# add by LightSpeedC
*.cmd	text eol=crlf
*.bat	text eol=crlf
*.d.ts	text eol=lf
*.json	text eol=lf
yarn.lock	text eol=lf
.eslintrc.*	text eol=lf
